<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>竞拍室</title>

  <!-- Custom fonts for this template -->
  <link th:href="@{/sb/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/sb/css/sb-admin-2.min.css}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link th:href="@{/sb/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

  <link rel="stylesheet" type="text/css" th:href="@{/shop/css/style.css}">

  <link rel="stylesheet" type="text/css" th:href="@{/flipcountdown/jquery.flipcountdown.css}" />
</head>

<body id="page-top">
<input type="hidden" th:value="${prod.startPrice}" id="startPrice">
  <!-- Page Wrapper -->
  <div id="wrapper">



    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <header th:replace="shop/Header::topbar">
        </header>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800 mt-2">竞价室</h1>
          <p class="mb-4" th:text="'选择的商品：'+${prod.name}">选择的商品：</p>
          <p class="mb-4" th:text="'商品状态：'+${prod.status}">商品状态：</p>
          <p class="mb-4" th:text="'当前价格：'+${prod.currentPrice}">当前价格：</p>
          <p class="mb-4" th:text="'最小加价：'+${prod.minAddPrice}">最小加价：</p>
          <p class="mb-4" th:text="${payInsurance}?'已缴纳保证金':'尚未缴纳保证金'"></p>
          <p class="mb-4" th:if="${!payInsurance}"><button class="btn btn-sm btn-outline-success mt-2" type="button" id="payInsurance">缴纳保证金</button></p>
          <p class="mb-4" th:if="${prod.state==0}">剩余竞价时间：<div name="retroclockbox" th:time="${prod.expireDate}" th:if="${prod.state==0}"></div></p>
          <p class="mb-4" th:if="${prod.state==3}">开始倒计时：<div name="retroclockbox" th:time="${prod.startDateString}" th:if="${prod.state==3}"></div></p>
          <p class="mb-4" th:if="${prod.state==0}">您的出价：
            <form th:action="@{/addBid}" id="bidPrice">
              <input type="hidden" th:value="${prod.id}" name="proId" id="proId">
              <input type="hidden" th:value="${prod.currentPrice}" name="currentPrice" id="currentPrice">
              <input type="hidden" th:value="${prod.minAddPrice}" name="minAddPrice" id="minAddPrice">
              <input type="hidden" th:value="${prod.state}" name="proState" id="proState">
          <input type="hidden" th:value="${prod.sellerId}" name="sellerId" id="sellerId" >
          <tr th:if="${prod.state==0}">
            <td><input class="form-control form-control-sm col-sm-2" type="text" name="price" id="price"></td>
            <td><button class="btn btn-sm btn-outline-success mt-2" type="submit">提交</button></td>
          </tr>
            </form>
          </p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">竞价历史</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>出价金额</th>
                      <th>出价用户</th>
                      <th>出价时间</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="bid:${prod.bids}">
                      <td th:text="${bid.bidPrice}"></td>
                      <td th:text="${bid.buyer.username}"></td>
                      <td th:text="${bid.formTime}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="mt20 center" th:replace="shop/Header::footer">

      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/sb/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/sb/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/sb/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/sb/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{/sb/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/sb/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{/sb/js/demo/datatables-demo.js}"></script>

  <script th:src="@{/flipcountdown/jquery.flipcountdown.js}"></script>
  <script th:src="@{/jqform/jquery.form.js}"></script>
  <script th:src="@{/jqform/jquery.validation.js}"></script>
  <script th:src="@{/layer/layer.js}"></script>
  <script>
    $(function () {
      timerLoad()
    })
    function timerLoad() {
      var timers = $('div[name="retroclockbox"]');
      for (i = 0; i < timers.length; i++) {
        var time = timers.eq(i).attr("time")
        timers.eq(i).flipcountdown({
          size: 'sm',
          beforeDateTime: time
        });
      }
    }
    $("#bidPrice").validate({
      rules:{
        price:{
          required:true,
          number:true
        }
      },
      messages:{
        price:{
          required:function () {
            layer.msg("请输入价格！");
          },
          number:function () {
            layer.msg("请输入正确的数字！");
          }
        }
      },
      submitHandler : function() {
        var currentPrice=new Number($("#currentPrice").val());
        var minAddPrice=new Number($("#minAddPrice").val());
        var price=new Number($("#price").val());
        var insurance=[[${payInsurance}]];
        if(!insurance){
          layer.msg("请先缴纳保证金！");
          return false;
        }
        if(price<(currentPrice+minAddPrice)){
          layer.msg("出价不能低于当前价格加上最低加价！");
          return false;
        }else {
          $("#bidPrice").ajaxSubmit(function (data) {
            if (data != "success") {
              layer.msg(data);
              return;
            }
            //success
            layer.msg("出价成功！");
            setTimeout(function(){
              location.reload();
            },500);

          });
          return false;
        }
      }
    });
    $('#dataTable').dataTable( {
      "order": [ 0, 'desc' ]  //这行些不行效果都一样
    } );
    $('#payInsurance').click(function () {
      var proId=$("#proId").val();
      var startPrice=new Number($("#startPrice").val());
      var insurance=startPrice*0.1;
      $.ajax({
        url: "/insuranceProcess",
        type: "POST",
        data: {
          proId: proId,
          amount:insurance
        },
        dataType:"JSON",
        success: function (data) {
          if (data.msg == "failed") {
            layer.msg(data.msg2);
            return;
          }
          //success
          var tradeNo=data.paymentId;
          var totalAmount=data.amount;
          window.open("http://122.51.138.251:9876/payment?tradeNo="+tradeNo+"&totalAmount="+totalAmount+"&subject=insurance&body=保证金")
        }
      });
    } );
    function logout() {
      $('#logout').submit();
    }
    var socket;
    if (typeof (WebSocket) == "undefined") {
      console.log("遗憾：您的浏览器不支持WebSocket");
    } else {

      //实现化WebSocket对象
      socket = new WebSocket("ws://localhost:8000/websocket/asset");
      //连接打开事件
      socket.onopen = function() {
        console.log("Socket 已打开");
        socket.send("消息发送测试(From Client)");
      };
      //收到消息事件
      socket.onmessage = function(msg) {
        if(msg.data=="start"||msg.data=="nobody"||msg.data=="end"||msg.data=="更新竞价！"){
          console.log(msg.data);
          setTimeout(function(){
            location.reload();
          },500);
        }
        console.log(msg.data+"2");
      };
      //连接关闭事件
      socket.onclose = function() {
        console.log("Socket已关闭");
      };
      //发生了错误事件
      socket.onerror = function() {
        alert("Socket发生了错误");
      }

      //窗口关闭时，关闭连接
      window.unload=function() {
        socket.close();
      };
    }
  </script>
</body>

</html>
